<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        #start{
            text-align: center;
            font-size: 5em;
            text-decoration:none;
            color:lightcoral;
        }
        #btn_special{
            margin-left:20%;
            margin-top:15%;
            color:white;
        }
        #tag{
            text-decoration:none;
        }
    </style>
</head>
<body>
    <div>
        <button type="button" class="btn btn-primary"><a href="{% url 'input_form' %}" id="tag"><div id="start">Get Started</div></a></button>
    </div>
</body>
</html>